.container {
    height: 100vh;
    width: 100%;
    background-color: #000000;
}

.leftSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10%;
}

.logo {
    height: auto;
    margin-bottom: 20px;
}

.rightSection {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 22px;
    font-weight: bold;
    text-align: left;     
}

.subtitle {
    text-align: left;
    width: 100%; 
}

.subtitle a {
    color: #0790d5;
    text-decoration: none;
}

.subtitle a:hover {
    color: #0790d5;
    text-decoration: underline;
}

.flexRow {
    display: flex;
    justify-content: space-between;
}

.birthDateContainer {
    justify-content: space-between;
    width: 60%;
    gap: 10px;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #0790d5;
    margin-top: 10px;
    width: 60%;
}

.button {
    width: 60%;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    background-color: #0790d5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background-color: #0790d5;
}
