body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px; 
    
}

.phone-container {
    position: relative;
    width: 340px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-frame {
    position: absolute;
top : -20px;
    width: 800px;
    height: 784px;
    z-index: 2; 
    pointer-events: none;
}

.phone-image {
    position: absolute;
    top: 5%;
    left: 6%;
    width: 88%;
    height: 88%;
    border-radius: 30px;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out; 
}

.login-box {
    background: none;
    padding: 40px;
    text-align: center;
    width: 350px;
}

.logo {
    width: 180px;
    margin-bottom: 10px;
}

.logo-h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.logo-p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 9px;
}

input:focus,
input:not(:placeholder-shown){
    background: #222;
    color: white;
    outline:none;
}



input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none;
  pointer-events: none;
  appearance: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #222 inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
  }
  

input {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    background: #222;
    font-size: 16px;
    margin-bottom: 5px;
    color : white;

}

.button {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    background-color: #0790d5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 9px;
    

}

.button:hover {
    background-color: #056a9b;
}

.register-link {
    color: #0790d5;
    text-decoration: none;
}

.message {
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.password-container {
    position: relative;
    width: 100%;
    
}

.password-container input {
    width: 100%;
    padding: 14px;
    padding-right: 40px;
    border-radius: 8px;
    border: none;
    background: #222;
    color: white;
    font-size: 16px;
    margin-bottom: 15px;

}

.password-toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    font-size: 20px;

}


@media only screen and (max-width: 768px) {
    .login-container {
        flex-direction: column; 
        gap: 30px; 
    }

    .phone-container {
        display: none;
    }

    .login-box {
        width: 90%; 
    }

    .logo {
        width: 100px; 
    }

    .logo-h1 {
        font-size: 18px; 
    }

    .logo-p {
        font-size: 12px;
    }
}
