@media only screen and (max-width: 768px) {

  .notifications-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  h2 {
   margin-top: -20px;
    margin-left: -140px;
    font-size: 30px;
  margin-bottom:50px ;}
}