#profile_img_box {
    border-radius: 90%;
    border-style: solid;
    border-color: greenyellow;
    position: relative;
    left: 25%;
    width: 200px;
    height: 200px;
}

@media only screen and (min-width: 768px) {
    #profile_img_box {
        left: 39%;
    }
}