h2{
  margin-top:20px;
  margin-left: 540px;
}
.search-placeholder {
  color: gray;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.search-input-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  padding: 10px 10px 10px 40px; 
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #111;
  color: white;
  font-size: 16px;
}

.search-icon-inside {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.8;
}


.search-tabs {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  gap: 15px;
}

.search-tabs button {
  background: #222;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.search-tabs button.active {
  background: #1da1f2;
}

 
.search-results {
  margin-top: 20px;
  margin-left: 540px;

}

.search-user-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #333;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.search-post-item {
  padding: 10px;
  border-bottom: 1px solid #333;
}


@media only screen and (max-width: 768px) {

  .search-tabs {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    gap: 15px;
  }

   
.search-results {
  margin-top: 20px;
  margin-left: 10px;

}
  
  header {
    display : flex !important;
    left: 0;
    width: 100%;
    padding: 10px;
  }
  h2 {
   margin-top: 80px;
    margin-left: 30px;
    font-size: 30px;
  margin-bottom:50px ;}

   
  .bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #000; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #222;
    padding: 10px 0;
    z-index: 1000;
  }

  .bottom-navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .bottom-navbar img {
    width: 26px;
    height: auto;
    opacity: 0.7;
    transition: opacity 0.2s;
  }

  .bottom-navbar img:hover {
    opacity: 1;
  }

  #nav-sidebar {
    display: none;
  }

}